@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --bg-color:#1E2A5E;
    --primary-color:#B5CFB7;
    --secundary-color:#021526;
    --font: "Cinzel", serif;

}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
    
}